/*The entire body*/

/*Nav Bar*/
.navbar.navbar-default {
  background-color: #800000;
}

.navbar.navbar-default .navbar-brand {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar.navbar-default .nav.navbar-nav li a {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

/*Drop down menu*, to overide the default code */
.navbar.navbar-default .dropdown-menu li {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #800000;
}

.navbar.navbar-default .dropdown-menu {
  margin: 0;  /*irritating white "border" not going away */
  padding: 0;
}

.navbar.navbar-default .dropdown {
  background-color: #800000;
}

/*Adds a border*/
/*
.navbar.navbar-default .nav.navbar-nav li {
  border-left: 2px solid white;
}
*/

/* Change the link color on hover */
.navbar.navbar-default .nav.navbar-nav li a:hover {
    background-color: #e59a9a;
}

/*change the button color*/
.navbar.navbar-default .navbar-toggle.collapsed {
  color: white;
  background-color: white;
}


@media only screen and (max-width: 768px) {
    .navbar.navbar-default {
      text-align: left;
    }
  }


/*body background*/
body {
  background-color: #e6e6e6;
}

/*Main Title and Background Image*/

.jumbotron.title {  
	  background-image: url("https://raw.githubusercontent.com/eugbyte/eugbyte.io/gh-pages/GA-Assingment/SMU%20Blur%203.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    margin-bottom: 16px;
  }

.jumbotron.title h1 {
	  text-align: center;
    color: white;
    font-family: 'Merienda One', cursive;
    padding-top: 9%;
    padding-bottom: 3%;
  }

@media only screen and (max-width: 400px) {
  .jumbotron.title h1 {
    padding-top: 30%;
    padding-bottom: 1%;
  }
}


/*sub navigation bar*/
nav {
 	display: block;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

nav a {
  color: #800000;
}

nav a:hover {
  color: black;
}

/*Font Sizes*/

.container h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #800000;
}

.container h3 {
  font-family: 'Raleway', sans-serif;;
}

.container p {
  font-family: 'Rubik', sans-serif;
  text-align: justify;
}


/*container border, container background*/

.container {
  border: solid #800000;
  border-radius: 51px;
  background-color: white;
}

/*Introduction section*/
.container .col-md-2 {
  padding-left: 0%;
  padding-right: 0%;
  border: none;
}

.container.intro {
  margin: 20px auto;
}

.container .col-md-10 {
  padding-left: 10px;
}

.container .col-md-2 img {
  border-radius: 48px;
    height: 280px;
}

@media only screen and (max-width: 1000px) {
  .container .col-md-2 img {
  max-height: 300px;
  margin: 0 auto;
  }
}


/*Marketing section*/

@media only screen and (max-width: 500px) {
.marketing {
  margin-top: 0;
  }
}

/* Center align the text within the three columns below the carousel */
.marketing{
  margin-bottom: 20px;
}

.marketing .col-lg-4 {
  text-align: center;
}

.marketing li {
  text-align: left;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/*edit the images from the columns*/
.marketing .img-rounded {
  border-radius: 25px;
  border: solid #800000;
}

